<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />


    <title>Title</title>
<style>
    .a{
        font-family: "Poppins", sans-serif;
    }
    .text-block1 {
  position: absolute;

  left: 10cm;
    }

    /* Automatic Serial Number Row */
.css-serial {
 counter-reset: serial-number; /* Set the serial number counter to 0 */
}
.css-serial td:first-child:before {
 counter-increment: serial-number; /* Increment the serial number counter */
 content: counter(serial-number); /* Display the counter */
}

</style>
</head>
<body>
<div style="background-color: lightgray">

        <div class="page-content">
					<!--breadcrumb-->
					<div class="card radius-15">
                        <div class="card-body">
                            <div class="card-title">
                                <center><h1 style="text-align: center">Customer Master Data</h1></center>
                            </div>
                            <hr/>
                        </div>
                    </div>
					<!--end breadcrumb-->
                    <div class="container">
                    <form action="custrmasterdatacreate" method="POST"  class="needs-validation" novalidate>
                                {% csrf_token %}
                        <div class="row">

                                <div class="row">
                                    <div class="col">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <label for="validationCustom02">Date</label>
                                    <input type="date" style="border-radius:12px;width: 10cm;" class="form-control" id="validationCustom02" name="date"  style="background-color: lightgray;color: black;"  required>

                                    </div>
                                </div><br>

                                <div class="row">
                                    <div class="col">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <label for="validationCustom02">Report Date  </label>
                                    <input type="date" style="border-radius:12px;width: 10cm;" class="form-control" id="validationCustom02" name="report_date" required style="background-color: lightgray;color: black;">

                                    </div>
                                </div><br>
                                <br>

                            </div><br>
                             <div class="row">
                                <div class="text-block1">
                                    <div class="form-row">
                                        <button class="btn btn-primary" type="submit" style="width: 10cm;border-radius:12px;background-color: darkgrey">Submit form</button>
                                    </div>
                                </div>
                            </div><br><br>

                            <!--Table-->
                            <div class="row">
                                <div class="col">
                                    <table border="1" class="css-serial" class="table table-bordered">
            <thead>
              <tr>
              <th>Sl.no</th>
              <th>Customer Id</th>
              <th>Customer Name</th>
              <th>Location & Address</th>
              <th>Contact Person</th>
              <th>Contact Person Mob No</th>
              <th> Credit Limit-Amount</th>
              <th>Credit Limit-Duration</th>
              
              
              </tr>
            </thead>
            <tbody>
               {% for i  in report %}   
              <tr>
                
                <td>&nbsp;</td>
                <td>{{ i.id }}</td>
                <td>{{ i.customer_name }}</td>
                <td>{{ i.address }}</td>
                <td>{{ i.contact_person }}</td>
                <td>{{ i.contact_mobile }}</td>
                <td>{{ i.credit_lim_am }}</td>
                <td>{{ i.credit_lim_dur }}</td>
              </tr>
              



              {% endfor %}  
            </tbody>
          </table>
                                </div>

                            </div><br><br>
                            <!--End-Table-->



                        <script>
                        function myFunction() {
                        var x = document.getElementById("myFile");
                        x.disabled = true;
                        }
                        </script>
                    </form>
                    </div>


        </div>

</div>



</body>
</html>