<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />


    <title>Title</title>
<style>
    .a{
        font-family: "Poppins", sans-serif;
    }
    .text-block1 {
  position: absolute;
  top: 250px;
  right: 400px;
  left: 900px;
    }
  .text-block2 {
  position: absolute;
  bottom: 60px;
  top: 250px;
  right: 200px;
  left: 500px;

}
</style>
</head>
<body>
<div style="background-color: lightgray">

        <div class="page-content">
					<!--breadcrumb-->
					<div class="card radius-15">
                        <div class="card-body">
                            <div class="card-title">
                                <center><h1 style="text-align: center">Reports</h1></center>
                            </div>
                            <hr/>
                        </div>
                    </div>
					<!--end breadcrumb-->
                    <div class="text-block1">
                        <a href="goledgerstmt"><button style="align-items: center;border-radius: 12px;">Ledger Statement</button></a><br><br>
                        <a href="goledgerjournal"><button style="align-items: center;border-radius: 12px;">All journal Entry</button></a><br><br>
                        <a href="goledgermasterdata"><button style="align-items: center;border-radius: 12px;">Ledger Masterdata</button></a><br><br>
                        <a href="gostockbalance"><button style="align-items: center;border-radius: 12px;">Stock Balance</button></a><br><br>
                        <a href="goitemstms"><button style="align-items: center;border-radius: 12px;">Item Statement</button></a><br><br>
                        <a href="gostockadj"><button style="align-items: center;border-radius: 12px;">Stock Adjustment</button></a><br><br>
                        <a href="gostockmaster"><button style="align-items: center;border-radius: 12px;">Stock Masterdata</button></a><br><br>
                        <a href="gojobstms"><button style="align-items: center;border-radius: 12px;">Job Statement</button></a><br><br>
                        <a href="gojobmaster"><button style="align-items: center;border-radius: 12px;">Job Masterdata</button></a><br><br>
                        
                    </div>
                    <div class="text-block2" >

                        <a href=" gocuststms"><button style="align-items: center;border-radius: 12px;">Customer Account Statement </button></a><br><br>
                        <a href="gocustouts "><button style="align-items: center;border-radius: 12px;">Customer Outstanding </button></a><br><br>
                        <a href="gocustinvo "><button style="align-items: center;border-radius: 12px;">Customer Invoice History </button></a><br><br>
                        <a href=" gocustrecpt"><button style="align-items: center;border-radius: 12px;"> Customer Receipt History</button></a><br><br>
                        <a href="gocustinvorecpt "><button style="align-items: center;border-radius: 12px;"> Customer Invoice & Receipt Register</button></a><br><br>
                        <a href="gocustrmasterdata "><button style="align-items: center;border-radius: 12px;">Customer Master Data </button></a><br><br>
                        <a href="gosupstms "><button style="align-items: center;border-radius: 12px;">Supplier Account Statement </button></a><br><br>
                        <a href=" gosupouts"><button style="align-items: center;border-radius: 12px;"> Supplier Outstanding</button></a><br><br>
                        <a href="gosupinvo "><button style="align-items: center;border-radius: 12px;"> Supplier Invoice History</button></a><br><br>
                        <a href=" gosuprecpt"><button style="align-items: center;border-radius: 12px;"> Payment History</button></a><br><br>
                        <a href="gosupinvorecpt"><button style="align-items: center;border-radius: 12px;">Supplier Invoice & Receipt Register </button></a><br><br>
                        <a href=" gosupmasterdata"><button style="align-items: center;border-radius: 12px;">Supplier Master Data </button></a><br><br>
                        
                    </div>

        </div>

</div>



</body>
</html>